<!DOCTYPE HTML>
<html>
<head>
<title>Home</title>
<!-- Custom Theme files -->
<link href="/static/management/assets/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<!-- Custom Theme files -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<script type="text/javascript" src="/static/management/assets/js/jquery.js"></script>
<script type="text/javascript" src="/static/management/assets/js/login.js"></script>
<script type="text/javascript" src="/static/management/assets/js/wwwlankamcom.js"></script>
</head>
<body>
<div class="login">
	<h2>兰凯后台管理系统</h2>
	<div class="login-top">
		<h1>登录</h1>
		<form>
			<input type="text" id="username" name="username" value="用户名" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '用户名';}">
			<input type="password" id="password" name="password" value="password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'password';}">
	    </form>
	    <div class="forgot">
	    	<a href="#">忘记密码</a>
			<input type="submit" value="登录" id="login">
	    </div>
	</div>
	<div class="login-bottom">
		<h3 id="result"></h3>
	</div>
</div>	
<div class="copyright">
	<p>Copyright &copy; 2017.Lankam All rights reserved. - <a href="http://www.lankam.com/" target="_blank" title="兰凯展览展示">兰凯展览展示</a></p>
</div>


</body>
</html>
